# PostgreSQL is required for this project.
# Create this database/user in pgAdmin before starting the application.
DATABASE_URL=postgresql+psycopg://plainsec_user:YOUR_PASSWORD@localhost:5432/plainsec_db

# Generate a long random value for your local .env file.
SECRET_KEY=REPLACE_WITH_A_LONG_RANDOM_SECRET_AT_LEAST_32_CHARACTERS
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
UPLOAD_DIR=uploads
DECRYPTED_DIR=decrypted
LEDGER_DIFFICULTY=2
